

.works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1.5px solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    height: 95px;
    width: 80%;
}

.works-section h4 {
    height: 50%;
    font-size: 7vw;
    font-family: "poppinsregular";
}

.works-section p {
    font-size: 4.5vw;
    text-align: end;
    font-family: "poppinslight";
}

.works-section a {
    color: black;
    text-decoration: none;
}

@media (min-width: 768px) {
    
    .works-section {
        height: 120px;
        width: 70%;
    }

    .works-section h4 {
        font-size: 6vw;
    }

    .works-section p {
        font-size: 4vw;
    }
}

@media (min-width: 1024px) {

    .works-section  {
        height: 150px;
        width: 60%;
        line-height: 5vw;

    }

    .works-section h4 {
        font-size: 3.5vw;
    }

    .works-section p {
        font-size: 1.5vw;
    }
}