@font-face {
    font-family: "poppinslight";
    src: url(../../public/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "poppinsregular";
    src: url(../../public/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppinsmedium";
    src: url(../../public/fonts/Poppins-Medium.ttf);
}