@font-face {
    font-family: "poppinslight";
    src: url(../../public/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "poppinsregular";
    src: url(../../public/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppinsmedium";
    src: url(../../public/fonts/Poppins-Medium.ttf);
}

body {
    --color: #e1e1e140;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}