/* #title */
#title {
    font-size: 10vw;
    padding: 0 0 40px 5%;
    text-decoration: underline;
    font-family: "poppinsregular";
}

/* .separation1 */
.separation1 {
    width: 80%;
    height: 2px;
    background-color: #262628;
    margin: 0 0 0 30px;
}

/* .skills */
.skills h3 {
    padding: 0 0 10px 20px;
    font-family: "poppinsregular";
}

.skills-name {
    display: flex;
    padding: 10px 0 30px 30px;
    font-family: "poppinslight";
}

.skills-name p {
    margin-right: 2%;
}

